<%-include('header') -%>

<header>
    <img src="/static/assets/the-fizz-smiths-logo.png" width="100px">
    
    <ul class="navbar-nav">
      <input type="text" id="searchInput" placeholder="Search cocktails">
    <button id="searchButton">Search</button>
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
            <li><%= locals.user?user: 'No email found' %></li>
            <div class="dropdown">
                <button class="dropbtn">&#9660;</button>
                <div class="dropdown-content">
                    <a href="/logout" id="logout">Logout</a>
                </div>
            </div>
        </li>
    </ul>
</header>
<main>
    <h1 id="random">Random Cocktails Menu</h1>
    <div class="cocktail-grid" id="cocktailList"></div>
</main>
<!-- <div id="cocktailDetails"></div> -->
<div id="cocktailDetailsContainer">
    <div id="cocktailDetails"></div>
</div>

<footer>
    &copy; 2023 The Fizz Smiths Cocktail Bar. All rights reserved.
</footer>


<%-include('footer') -%>